
# Latex
*.out
*.aux
*.log
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg

# CMake Build Artifacts
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
CTestTestfile.cmake
cpack_options.cmake
install_manifest.txt
compile_commands.json

# Build Output Directories
/build

# VCPKG
/vcpkg_installed

# Editor configuration (VS Code)
/.vscode

# Visual Studio Directory
/.vs

# Installers directory
/installer

# Executables directory
/bin

# Libraries directory
/lib

# GIS Data
*.rdc
*.rst

# HDF5 Data
*.h5

# PragmaDev
lock.info

# Python export models
/models

# Python compiled files
__pycache__

# Simulation Output Directories
/outputs
/python/data_pipeline_scripts/outputs

# Tensorflow scripts logs
/python/tensorflow_scripts/logs

# Data directories
/data
