
# Latex
*.out
*.aux
*.log
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.run.xml

# CMake Build Artifacts
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
CTestTestfile.cmake
cpack_options.cmake
install_manifest.txt
compile_commands.json

# Build Output Directories
/build

# VCPKG
/vcpkg_installed

# Editor configuration (VS Code)
/.vscode

# Visual Studio Directory
/.vs

# Installers directory
/installer

# Executables directory
/bin

# Libraries directory
/lib

# PragmaDev
lock.info

# Python export models
/exported_models

# Python compiled files
__pycache__

# Simulation Output Directories
/outputs
/python/data_pipeline/outputs

# Tensorflow scripts logs
/python/models/logs

# Doxygen output
/docs/html

/out/Ubuntu-24.04/build/linux-cli-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json


/THIRD-PARTY-NOTICES.md

/cmake/res/linux/floodsim.desktop
