-- =================
-- REQUIREMENTS.SLIM
-- =================
-- ------
-- SYNTAX
-- ------
-- system implementation <SLIM FUNCTION NAME>.others
-- properties
--   Requirements => (
--     [
--       PropertyId => "<NAME OF PROPERTY>";
--       Description => "<REQUIREMENT DESCRIPTION>";
--     ],
--     ...
--   );
-- end <SLIM FUNCTION NAME>.others;
-- -------
-- EXAMPLE
-- -------
-- system implementation SystemBlock.others
-- properties
--   Requirements => (
--     [
--       PropertyId => "At least one sensor not working";
--       Description => "[SystemBlock.others] At least one sensor not working";
--     ],
--     [
--       PropertyId => "Both sensors not working";
--       Description => "[SystemBlock.others] Both sensors not working";
--     ],
--     [
--       PropertyId => "Generator 1 LOW";
--       Description => "[SystemBlock.others] Generator 1 LOW";
--     ]
--   );
-- end SystemBlock.others;
-- ----------------------
-- DUMP OF INTERFACE VIEW
-- ----------------------
-- Function (SDL): CoreEngineCA
---- PI (ANY_OPERATION): BufferFreed

---- PI (ANY_OPERATION): GISDataLoaded
------ PARAM_IN (CellularAutomatonState): GISDataLoaded.loadedState

---- PI (ANY_OPERATION): StartSimulation
------ PARAM_IN (SimConfig): StartSimulation.cfg


---- RI (ANY_OPERATION): LoadGISData
------ PARAM_IN (FolderPath): LoadGISData.gisDataPath

---- RI (ANY_OPERATION): SimulationFinished

---- RI (ANY_OPERATION): SnapshotAvailable
------ PARAM_IN (CellularAutomatonState): SnapshotAvailable.receivedState


-- Function (SDL): GISDataHandler
---- PI (ANY_OPERATION): LoadGISData
------ PARAM_IN (FolderPath): LoadGISData.gisDataPath


---- RI (ANY_OPERATION): GISDataLoaded
------ PARAM_IN (CellularAutomatonState): GISDataLoaded.loadedState


-- Function (SDL): UserInterface
---- PI (ANY_OPERATION): SimulationFinished

---- PI (ANY_OPERATION): SnapshotAvailable
------ PARAM_IN (CellularAutomatonState): SnapshotAvailable.receivedState

---- PI (ANY_OPERATION): UserPressStart
------ PARAM_IN (FolderPath): UserPressStart.dataPath
------ PARAM_IN (T-Float): UserPressStart.dur
------ PARAM_IN (T-Float): UserPressStart.dt
------ PARAM_IN (T-UInt32): UserPressStart.freq
------ PARAM_IN (SyncMode): UserPressStart.syncMode


---- RI (ANY_OPERATION): BufferFreed

---- RI (ANY_OPERATION): StartSimulation
------ PARAM_IN (SimConfig): StartSimulation.cfg



--
